<div id="mainnav">
	<center>
	<h1>Crambox</h1>
	<p>What would you like to do?</p>
	<div id="mainnavicon">
	</div>
	</center>
</div>

<br />
<br />
<br />

<div class="row">
	<div class="span3 navbox">
		<a href="#"><i id="navicon" class="icon-group"></i></a>
	</div>
	<div class="span3 navbox">
		<a href="#"><i id="navicon" class="icon-comments-alt"></i></a>
	</div>
	<div class="span3 navbox">
		<a href="#"><i id="naviconbolt" class="icon-bolt"></i></a>
	</div>
	<div class="span3 navbox">
		<a href="#"><i id="navicon" class="icon-share"></i></a>
	</div>
</div>

<div class="row">
	<div class="span3 navboxtext">
		<a href="#">Find Someone with a Similar Schedule</a>
	</div>
	<div class="span3 navboxtext">
		<a href="#">Organize or Find a Study Group&nbsp;</a>
	</div>
	<div class="span3 navboxtext">
		<a href="#">Find a Tutor</a>
	</div>
	<div class="span3 navboxtext">
		<a href="#">Become a Tutor</a>
	</div>
</div>



<br />
<br />
<br />

