<div id="mainnav">
	<center>
	<h1>Crambox</h1>
	<p>What would you like to do?</p>
	<div id="mainnavicon">
	</div>
	</center>
</div>

<div class="row">
	<div class="span4 navbox">
		<i class="icon-emo-thumbsup"></i>
		Connect with people.
	</div>
	<div class="span4 navbox">
		GroupMatch
	</div>
	<div class="span4 navbox">
		TutorMatch
	</div>
</div>