<div class="page-header">
  <h1>About Us <small>Built for students, by students.</small></h1>
  <br />

  CampusLink is currently being made by two students, Danish Mughal and Armaan Ahmed, at UIUC. Our ultimate goal is simply to provide a place for students in colleges and universities across America to connect with their fellow students, and succeed in classes.
  <br />
  <br />
  Our goal at CampusLink is to create connections within college campuses. Instead of getting connected to people that you already know, we connect you with people that you don’t know yet. CampusLink provides you with a tool that can help create friendships, study groups, and common interest groups (sports groups, fan groups, career groups, activity groups, religious groups, etc.). We match people who are looking for casual relationships and people who are looking for potential sweethearts. We also match students with potential roommates. We match people based on their schedules, shared interests, on habitual preferences. The end goal is to match you with the most compatible person that meets what you are looking for. 
  <br />
  <br />
  <blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In imperdiet porta molestie. Curabitur porta libero a tortor faucibus dictum. In dapibus pharetra ligula, at vehicula purus vehicula at. In eget metus libero. Integer et tortor id arcu commodo fringilla. Sed ipsum risus, pellentesque ut mattis sit amet, eleifend sit amet nulla. Mauris pellentesque magna eget velit ultricies in porta mi sagittis. Pellentesque ornare lacinia adipiscing. Nam egestas consectetur ipsum vitae convallis. Aliquam massa dolor, lobortis vitae aliquet in, ultrices lobortis sapien. Donec semper convallis elementum. Vivamus ac risus eu nisl suscipit varius in id diam. Nam nec ornare arcu.

</p>
  <small>Danish Mughal, Cofounder</small>
</blockquote>


  <blockquote class="pull-right">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In imperdiet porta molestie. Curabitur porta libero a tortor faucibus dictum. In dapibus pharetra ligula, at vehicula purus vehicula at. In eget metus libero. Integer et tortor id arcu commodo fringilla. Sed ipsum risus, pellentesque ut mattis sit amet, eleifend sit amet nulla. Mauris pellentesque magna eget velit ultricies in porta mi sagittis. Pellentesque ornare lacinia adipiscing. Nam egestas consectetur ipsum vitae convallis. Aliquam massa dolor, lobortis vitae aliquet in, ultrices lobortis sapien. Donec semper convallis elementum. Vivamus ac risus eu nisl suscipit varius in id diam. Nam nec ornare arcu.


  </p>
  <small>Armaan Ahmed, Cofounder <br /></small>
  </blockquote>


</div>