<div class="page-header">
  <h1>About Us <small>Built for students, by students.</small></h1>
  <br />

  CampusLink is currently being made by two students, Danish Mughal and Armaan Ahmed, at UIUC. Our ultimate goal is simply to provide a place for students in colleges and universities across America to connect with their fellow students, and succeed in classes.

  <br />
  <br />

  <blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In imperdiet porta molestie. Curabitur porta libero a tortor faucibus dictum. In dapibus pharetra ligula, at vehicula purus vehicula at. In eget metus libero. Integer et tortor id arcu commodo fringilla. Sed ipsum risus, pellentesque ut mattis sit amet, eleifend sit amet nulla. Mauris pellentesque magna eget velit ultricies in porta mi sagittis. Pellentesque ornare lacinia adipiscing. Nam egestas consectetur ipsum vitae convallis. Aliquam massa dolor, lobortis vitae aliquet in, ultrices lobortis sapien. Donec semper convallis elementum. Vivamus ac risus eu nisl suscipit varius in id diam. Nam nec ornare arcu.

</p>
  <small>Danish Mughal, Cofounder</small>
</blockquote>


  <blockquote class="pull-right">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In imperdiet porta molestie. Curabitur porta libero a tortor faucibus dictum. In dapibus pharetra ligula, at vehicula purus vehicula at. In eget metus libero. Integer et tortor id arcu commodo fringilla. Sed ipsum risus, pellentesque ut mattis sit amet, eleifend sit amet nulla. Mauris pellentesque magna eget velit ultricies in porta mi sagittis. Pellentesque ornare lacinia adipiscing. Nam egestas consectetur ipsum vitae convallis. Aliquam massa dolor, lobortis vitae aliquet in, ultrices lobortis sapien. Donec semper convallis elementum. Vivamus ac risus eu nisl suscipit varius in id diam. Nam nec ornare arcu.


  </p>
  <small>Armaan Ahmed, Cofounder <br /></small>
  </blockquote>


</div>