<div class="page-header">
  <h1>About Us <small>Built for students, by students.</small></h1>
  <br />

  The purpose of CampusLink is to help make the college experience more social. Instead of getting connected with people that you already know, we connect you with people that you don’t know. On the academic side, CampusLink provides a tool to match people with similar schedules, create study groups, and find tutors. CampusLink helps create friendships and gathers people that share common interests: whether they are fans of a particular person or sports team, share the same career ambitions, have the same religious beliefs, or believe in the same cause. We look to match the people who are looking for casual relationships and the people who are looking for potential sweethearts with others that desire the same. CampusLink provides as a roommate searching tool that matches people based on habit preferences. 

  <br />
  <br />
  <blockquote>
  <p>“I’m a freshman at University of Illinois at Urbana-Champaign. I’m from a small Chicago suburb called Bartlett and I went to Bartlett High School. My hobbies include watching cheesy Sci-Fi films, playing airsoft, eating new foods, cycling, building things, rock climbing, driving, and running. I aspire to be a psychiatrist. I came up with the idea of CampusLink while thinking of a major shortcoming of existing social networking sites that connect people with friends and acquaintances; they don’t necessarily help people expand their existing networks. CampusLink provides as a tool that does do that.”

</p>
  <small>Armaan Ahmed, Chief Executive Officer</small>
</blockquote>


  <blockquote class="pull-right">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In imperdiet porta molestie. Curabitur porta libero a tortor faucibus dictum. In dapibus pharetra ligula, at vehicula purus vehicula at. In eget metus libero. Integer et tortor id arcu commodo fringilla. Sed ipsum risus, pellentesque ut mattis sit amet, eleifend sit amet nulla. Mauris pellentesque magna eget velit ultricies in porta mi sagittis. Pellentesque ornare lacinia adipiscing. Nam egestas consectetur ipsum vitae convallis. Aliquam massa dolor, lobortis vitae aliquet in, ultrices lobortis sapien. Donec semper convallis elementum. Vivamus ac risus eu nisl suscipit varius in id diam. Nam nec ornare arcu.


  </p>
  <small>Danish Mughal, Chief Technical Officer<br /></small>
  </blockquote>


</div>