<div class="row">
<div class="landingbannercaption">
  <div class="page-header">
    <h1>About Us <small class="aboutcaption">Built for students, by students.</small></h1>
  </div>
    Crambox was created by <strong>Armaan Ahmed</strong> and <strong>Danish Mughal</strong>, for UIUC (as of now).
    <br />
    <br />
    We are building Crambox as a new type of social tool: rather than connecting you with people you already know or have met, it connects you with completely new students on campus. It helps you <strong>discover</strong> new people. We feel that current social tools don't allow you to actually network or connect with new people on campus.
    <br />
    <br />


    <!--
    <h1><small class="aboutcaption">Founders</small></h1>
    <br />
    <blockquote>
    <small class="foundercaption">Armaan Ahmed</small>
    <small class="foundercaption">Danish Mughal<br /></small>
    </blockquote>
    -->

  </div>

</div>
</div>
