<div class="row">
<div class="landingbannercaption">
  <div class="page-header">
    <h1>About Us <small class="aboutcaption">Built for students, by students.</small></h1>
  </div>
    <br />
    <br />
    Crambox is a new type of social tool: rather than connecting you with people you already know or have met, it connects you with completely new students on campus. It helps you <strong>discover</strong> new people. 
    <br />
    <br />
    Ever wished you could find a group of people to study with for a particularly challenging class? Crambox can instantly find people and make you a study group. Furthermore, we help match you up with tutors, and simply people in your classes that you may want to talk to.

    <br />
    <br />
    <br />
    <br />
    <h1><small class="aboutcaption">Founders</small></h1>
    <br />
    <blockquote>
    <p>
    </p>
    <small class="foundercaption">Armaan Ahmed</small>
    </blockquote>


    <blockquote>
    <p>
    </p>
    <small class="foundercaption">Danish Mughal<br /></small>
    </blockquote>


  </div>

</div>
</div>
