<div class="page-header">
  <h1>Contact Us <small>Let us know if you have any problems!</small></h1>
  Have any suggestions, comments, or even criticism about CampusLink? Let us know! We read all of the feedback we get, and we'll try our best to get back you as soon as possible.

  <br />
  <br />
  <br />

  <address>
  <strong>CampusLink, LLC.</strong><br>
  XXX University Ave<br>
  San Francisco, CA 94107<br>
  <abbr title="Phone">P:</abbr> (123) 456-7890
  </address>
 
  <address>
    <strong>Danish Mughal and Armaan Ahmed</strong><br>
    <a href="mailto:#">example.email@gmail.com</a>
  </address>

</div>
