<div class="hero-unit">
  <h1>Welcome to CampusLink</h1>
  <p>Connecting you with other students on campus! </p>
  <p>
  	CampusLink is built to help you, a college student, to other students on campus. Finding a class difficult? Big test coming up and you have no idea how to study for it? CampusLink will match you up with people in your classes and let you get that A you crave.
  	<br />
  	<br />
    <a class="btn btn-primary btn-large">
      Sign up!
    </a>
  </p>
</div>
