<div class="row">
	<div class="span4">
    <img id="mainprofilepic" src=<%= @image %>>
  	</img>
  </div>

	<div class="span8">
		<div id="profilename">
			<%= @user.name %>
		</div>
	</div>
</div>


<div class="row">
	<div class="span6">
		<div id="profileschedule">

			<h1>Schedule</h1>

			<ul>
				<% @classes.each do |c| %>
					<li>
						<%= c.subjectcode %>
						<%= c.classcode %>
					</li>
				<% end %>
			</ul>

		</div>
	</div>


	<div class="span6">
		<div id="profileinfo">

			<h1>Personal Info</h1>

			Major:
			<br />
			Class of:

		</div>
	</div>

</div>