.navbar .brand {
	font-weight: bold;
	font-size: 30px;
	color: #5979CD;
	font-family: 'Allan', cursive;
	margin-top: 4px;
}

.navbar .navbar-inner {
	height: 60px;

}

.navlinks {
	margin-top: 10px;
}

.navlogin {
	text-align: right;
}


.landingbanner {
	background-image: url(debut_dark.png);
	background-repeat: repeat;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 20px;
	/*margin-top: -20px;*/
	margin-top: 50px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;

	h1 {
	font-family: 'Allan', cursive;
	font-size: 80px;
	text-shadow: 0 1px 3px rgba(139, 68, 68, .4), 0 0 30px rgba(0, 0, 0, .075);
	}

	#landinglogo {
	font-family: 'Allan', cursive;
	font-size: 120px;
	text-shadow: 0 1px 3px rgba(139, 68, 68, .4), 0 0 30px rgba(0, 0, 0, .075);

	}

	#uiuclogo {
	    width:50px; /* you can use % */
	    height: auto;
	}

	#contactlink {
		color: white;
		text-decoration: underline;
	}

}

	#signupbutton {
		font-family: 'Open Sans', sans-serif;
		width: 100%;
		height: auto;
	}

.landingregistration {
	text-shadow: 0 1px 3px rgba(139, 68, 68, .4), 0 0 30px rgba(0, 0, 0, .075);
}

.landingcontainer {
	margin-right: auto;
	margin-left: auto;
	width: 960px;
	color: white;
}

#frontcontainer {

}

.foundercaption {
	color: white;
}

.aboutcaption {
	color: white;
}

#contactemail {
	color: white;
}

#activelink {
	border-top: 1px solid blue;
}


a {
	color: white;
}

h2 {
	font-family: 'Allan', cursive;
	font-size: 40px;

	text-shadow: 0 1px 3px rgba(139, 68, 68, .4), 0 0 30px rgba(0, 0, 0, .075);	
}


#stepindicator {
	font-size: 20px;
}


.addclassfield {
	width: 95%;
}

.removeclassbutton {
	margin-top: 27px;
}


body {
	background-image: url(cardboard_flat.png);
	background-repeat: repeat;

}


.footer {
	color: gray;

	 a {
		color: gray;
	}
}


/*The picture that appears in the header bar. It's picked from the database */
#headerprofilepic {
	height: 40px;
	width: auto;
}


/*The text that appears on the splash page to let the user sign up without using their facebook account. 
Appears under the large sign up with facebook button*/
#signupnofacebook {
	margin-top: 140px;

	a {
		color: gray;

	}

	a:hover {
		color: white;
		text-decoration: none;
	}
}

/*Login with facebook image in the header in the login form 
-->Useless because no longer using image. Delete if needed.
#fbloginheader {
	width: auto;
	height: 25px;
	margin-top: auto;
	margin-bottom: auto;
}
*/

/*Main large image on page body*/
#fbsignupicon {
	font-size: 30px;
	margin-top: auto;
	margin-bottom: 15px;
}


/*Login icon at the header */
#fbloginicon {
	font-size: 20px;
	margin-bottom: 5px;
}


/* Styling for the profile page */
#profilename {
	margin-top: 50px;
	padding-top: 90px;
	padding-left: 40px;

	font-family: 'Allan';
	font-size: 80px;
	text-shadow: 0 1px 3px rgba(139, 68, 68, .4), 0 0 30px rgba(0, 0, 0, .075);

}

#mainprofilepic {
	margin-top: 50px;
	height: 200px;
	width: auto;
}

#profileschedule {
	margin-top: 40px;
	margin-bottom: 50px;
	height: 200px;
	background-image: url(otis_redding.png);
	background-repeat: repeat;
	border-radius: 10px;

	padding-left: 20px;
	padding-top: 10px;



	h1 {
		font-family: 'Allan';
		font-size: 40px;
		text-shadow: 0 1px 3px rgba(139, 68, 68, .4), 0 0 30px rgba(0, 0, 0, .075);
	}
}

#profileinfo {
	margin-top: 40px;
	margin-bottom: 50px;
	height: 200px;
	background-image: url(otis_redding.png);
	background-repeat: repeat;
	border-radius: 10px;

	padding-left: 20px;
	padding-top: 10px;

	h1 {
		font-family: 'Allan';
		font-size: 40px;
		text-shadow: 0 1px 3px rgba(139, 68, 68, .4), 0 0 30px rgba(0, 0, 0, .075);
	}

}


#mainnav {
	margin-top: 50px;
}


#navicon {
	font-size: 80px;
	padding-top: 30px;
	padding-right: 50px;
}

#naviconbolt {
	font-size: 80px;
	padding-top: 30px;
	padding-right: 20px;
}

.navbox {
	text-align: center;
	height: 130px;
	padding-right: auto;
	padding-left: auto;

	a {
		color:white;
	}

	a:hover {
		text-decoration: none;
		color: gray;
		transition-duration: 5s;

	}
}

.navboxtext {
	a {
		color:white;
	}

	a:hover {
		text-decoration: none;
		color: gray;

	}

	text-align: center;
}