<p>Welcome <%= @resource.email %>!</p>
<h1>Welcome to CampusLink!</h1>
<p>You can confirm your account email by clicking the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<br />
Help us improve CampusLink! Any questions or comments? Let us know <a href="http://campuslink.heroku.com/contact">here</a>.